{% load static %}
<html>
    <head>
        <title>
            {% block title %}{% endblock %}
        </title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'main_template.css' %}">
    </head>
    <body>
        <div class="container">
            <div class="row justify-content-center">
                {% block menu %}
                <div class="col-sm-12 col-md-10 col-lg-10 col-xl-10">
                    <ul class="nav nav-pills justify-content-center">
                        {% if isUserLogged %}
                        <li class="nav-item">
                            <a class="nav-link {% if path_name == 'logout' %}active{% endif %}" href="{% url 'logout' %}">LOGOUT</a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link {% if path_name == 'login' %}active{% endif %}" href="{% url 'login' %}">LOGIN</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if path_name == 'register' %}register{% endif %}" href="{% url 'register' %}">REGISTER</a>
                        </li>
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link {% if path_name == 'index' %}active{% endif %}" href="{% url 'index' %}">HOME</a>
                        </li>
                        {% if isUserLogged %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'board' %}">BOARD</a>
                        </li>
                        {% endif %}
                        {% if isUserLogged %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'profile' %}">PROFILE</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
                {% endblock %}
            </div>
            <div class="row justify-content-center">
                <div class="col-sm-12 col-md-10 col-lg-10 col-xl-10 card pt-5">
                    {% block content %}
                    
                    {% endblock %}
                </div>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>
