{% extends "main_template.html" %}
{% load static %}

{% block title %}
Change password
{% endblock title %}

{% block content %}


<div class="container">
{% if isUserLogged %}
    <form action="{% url 'change-password' %}?path_name={{path_name}}" method="post" class="needs-validation" id="repeatPasswordForm">{% csrf_token %}
        <div class="form-group">
            <label for="oldPasswordInput">Old password:</label>
            <input type="password" id="loginInput" placeholder="old password" class="form-control" name="old_password" required>
        </div>
        <div class="form-group">
            <label for="passwordInput">New password:</label>
            <input type="password" id="passwordInput" placeholder="user password" class="form-control" name="new_password" required>
        </div>
        <div class="form-group">
            <label for="passwordInput">Repeat new password:</label>
            <input type="password" id="repeatPasswordInput" placeholder="repeat password" class="form-control" name="new_password_repeat" required>
            <div class="invalid-feedback">
                
            </div>
        </div>
        <div class="form-row justify-content-center">
            <button type="submit" class="btn btn-primary">CHANGE PASSWORD</button>
        </div>
    </form>
    <script src="{% static 'checkIfPasswordRepeated.js' %}"></script>
{% endif %}
{% if not isOperationSuccess and isFormCorrect %}
    <div class="row justify-content-center alert alert-danger mt-5" role="alert">
    Changing password failed: {{registrationFailureReason}}
    </div>
{% elif isOperationSuccess and isFormCorrect %}
    <div class="row justify-content-center alert alert-success mt-5" role="alert">
    Changing password successfull!
    </div>
{% endif %}
</div>


{% endblock content %}